<section class="articles" id="articles">
	
	<div class="flex">
		
		<div class="col-50">

			<div class="article-wrapp">
				<a href="#" class="article-thumb" style="background-image: url('assets/img/posts/thumbnails/post-1.png'")>
					<div class="article-meta">
						<div class="article-name">Article Name</div>
						<div class="article-data">10 Dec, 1982</div>
					</div>
				</a>



				<a href="#" class="article-thumb" style="background-image: url('assets/img/posts/thumbnails/post-2.jpg'")>
					<div class="article-meta">
						<div class="article-name">Article Name</div>
						<div class="article-data">10 Dec, 1982</div>
					</div>
				</a>



				<a href="#" class="article-thumb" style="background-image: url('assets/img/posts/thumbnails/post-3.jpg'")>
					<div class="article-meta">
						<div class="article-name">Article Name</div>
						<div class="article-data">10 Dec, 1982</div>
					</div>
				</a>


				<a href="#" class="article-thumb" style="background-image: url('assets/img/posts/thumbnails/post-4.jpg'")>
					<div class="article-meta">
						<div class="article-name">Article Name</div>
						<div class="article-data">10 Dec, 1982</div>
					</div>
				</a>



				<a href="#" class="article-thumb" style="background-image: url('assets/img/posts/thumbnails/post-5.jpg'")>
					<div class="article-meta">
						<div class="article-name">Article Name</div>
						<div class="article-data">10 Dec, 1982</div>
					</div>
				</a>



				<a href="#" class="article-thumb" style="background-image: url('assets/img/posts/thumbnails/post-6.gif'")>
					<div class="article-meta">
						<div class="article-name">Article Name</div>
						<div class="article-data">10 Dec, 1982</div>
					</div>
				</a>



				<a href="#" class="article-thumb" style="background-image: url('assets/img/posts/thumbnails/post-7.png'")>
					<div class="article-meta">
						<div class="article-name">Article Name</div>
						<div class="article-data">10 Dec, 1982</div>
					</div>
				</a>



				<a href="#" class="article-thumb" style="background-image: url('assets/img/posts/thumbnails/post-8.jpg'")>
					<div class="article-meta">
						<div class="article-name">Article Name</div>
						<div class="article-data">10 Dec, 1982</div>
					</div>
				</a>



				<a href="#" class="article-thumb" style="background-image: url('assets/img/posts/thumbnails/post-9.jpg'")>
					<div class="article-meta">
						<div class="article-name">Article Name</div>
						<div class="article-data">10 Dec, 1982</div>
					</div>
				</a>



				<a href="#" class="article-thumb" style="background-image: url('assets/img/posts/thumbnails/post-10.jpg'")>
					<div class="article-meta">
						<div class="article-name">Article Name</div>
						<div class="article-data">10 Dec, 1982</div>
					</div>
				</a>


				<a href="#" class="article-thumb" style="background-image: url('assets/img/posts/thumbnails/post-11.jpg'")>
					<div class="article-meta">
						<div class="article-name">Article Name</div>
						<div class="article-data">10 Dec, 1982</div>
					</div>
				</a>


				<a href="#" class="article-thumb" style="background-image: url('assets/img/posts/thumbnails/post-12.png'")>
					<div class="article-meta">
						<div class="article-name">Article Name</div>
						<div class="article-data">10 Dec, 1982</div>
					</div>
				</a>
			</div>

		</div>

		<div class="col-50 flex center order-first">
			<div class="col-1">
				<p class="home-lead outdented" >...Writing articles...</p>
				<a href="#" class="home-cta">See All Articles</a>
			</div>
		</div>

	</div>


</section>