	<div class="mobile-nav">
		<ul>
			<li><a href="#about">About</a></li>
			<li><a href="#youtube">YouTube</a></li>
			<li><a href="#mentoring">Mentoring</a></li>
			<li><a href="#articles">Articles</a></li>
			<li><a href="#vine">Vine</a></li>
			<li><a href="#design">Design</a></li>
			<li><a href="#notes">Notes</a></li>
			<li><a href="#podcasts">Podcasts</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</div>



	<header>
		<div class="header-position">
			<div class="logo">
				<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 50 50"><path fill="rgba(0, 0, 0, 0.7)" d="M25 0c-13.807 0-25 11.193-25 25s11.193 25 25 25 25-11.193 25-25-11.193-25-25-25zm-6.435 43l4.599-15.033h-10.164l19.434-20.967-4.599 14.983h10.164l-19.434 21.017z"/></svg>
			</div>

			<nav class="site-nav">
				<ul>
					<li><a href="#about">About</a></li>
					<li><a href="#youtube">YouTube</a></li>
					<li><a href="#mentoring">Mentoring</a></li>
					<li><a href="#articles">Articles</a></li>
					<li><a href="#vine">Vine</a></li>
					<li><a href="#design">Design</a></li>
					<li><a href="#notes">Notes</a></li>
					<li><a href="#podcasts">Podcasts</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</nav>

			<a class="email-link" href="mailto:alex12486@gmail.com">+email me</a>

			<div class="mobile-nav-toggle">
				<span></span>
			</div>
		</div>
	</header>

